name: .NET Core CI

on:
  push:

jobs:
  build:
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        dotnet: [ '3.1.x', '5.0.x', '6.0.x' ]
    
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Run unit tests
      run: |
        dotnet test ./src/Pipedrive.net.Tests/Pipedrive.Tests.csproj

    - name: Build project
      run: |
        dotnet build ./src/Pipedrive.net/Pipedrive.csproj